{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ynCD23qRFoyWBYk0M3bF1VEk"></script>
<script src="/JS/ZL_ValidateCode.js"></script>
<script src="/JS/Modal/APIResult.js"></script>
<script src="/JS/Controls/B_User.js"></script>
<script src="/JS/Controls/Control.js"></script>
<script src="{$CssDir/}js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
{ZL.Label id="全站共用头部"/}
<style>
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{ background:none; border:none}
  </style>
<img class="img-responsive center-block" src="{$CssDir/}images/map_zy.jpg" alt="遵义旅游景点大全" />
<div class="home_map_d">
<div class="home_map_dc zy_map_dc1">
<div class="home_map_dct"><i class="fa fa-map-marker"></i></div>
<div class="home_map_dcj" style="display:none;">
<span class="map_bg"></span>
{ZL.Label id="首页获取指定景点信息" GeneralID="312" TitleNum="30" SysNum="60" /}
</div>
</div>
<div class="home_map_dc zy_map_dc2">
<div class="home_map_dct"><i class="fa fa-map-marker"></i></div>
<div class="home_map_dcj" style="display:none;">
<span class="map_bg"></span>
{ZL.Label id="首页获取指定景点信息" GeneralID="332" TitleNum="30" SysNum="60" /}
</div>
</div>
<div class="home_map_dc zy_map_dc3">
<div class="home_map_dct"><i class="fa fa-map-marker"></i></div>
<div class="home_map_dcj" style="display:none;">
<span class="map_bg"></span>
{ZL.Label id="首页获取指定景点信息" GeneralID="291" TitleNum="30" SysNum="60" /}
</div>
</div>
<div class="home_map_dc zy_map_dc4">
<div class="home_map_dct"><i class="fa fa-map-marker"></i></div>
<div class="home_map_dcj" style="display:none;">
<span class="map_bg"></span>
{ZL.Label id="首页获取指定景点信息" GeneralID="508" TitleNum="30" SysNum="60" /}
</div>
</div>
<div class="home_map_dc zy_map_dc5">
<div class="home_map_dct"><i class="fa fa-map-marker"></i></div>
<div class="home_map_dcj" style="display:none;">
<span class="map_bg"></span>
{ZL.Label id="首页获取指定景点信息" GeneralID="660" TitleNum="30" SysNum="60" /}
</div>
</div>
<div class="home_map_dc zy_map_dc6">
<div class="home_map_dct"><i class="fa fa-map-marker"></i></div>
<div class="home_map_dcj" style="display:none;">
<span class="map_bg"></span>
{ZL.Label id="首页获取指定景点信息" GeneralID="2365" TitleNum="30" SysNum="60" /}
</div>
</div>
<div class="home_map_dc zy_map_dc7">
<div class="home_map_dct"><i class="fa fa-map-marker"></i></div>
<div class="home_map_dcj" style="display:none;">
<span class="map_bg"></span>
{ZL.Label id="首页获取指定景点信息" GeneralID="416" TitleNum="30" SysNum="60" /}
</div>
</div>
<div class="home_map_dc zy_map_dc8">
<div class="home_map_dct"><i class="fa fa-map-marker"></i></div>
<div class="home_map_dcj" style="display:none;">
<span class="map_bg"></span>
{ZL.Label id="首页获取指定景点信息" GeneralID="382" TitleNum="30" SysNum="60" /}
</div>
</div>
</div>
<!--view_banner end-->

<div class="container viewcon_bg">
<div class="eara_two">
<ol class="breadcrumb">
<li><a href="/">首页</a></li>
{ZL.Label id="输出多级节点导航_V3" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" ShowNum="30" /}
</ol>
<div class="eara_new">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 eara_new_l">
<h3>旅游动态</h3>
<ul class="media-list">
{ZL.Label id="地区频道新闻_带图列表" NodeID="3" ShowNum="4" TitleNum="30" SysNum="20" City="{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}" /}
</ul>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="eara_new_m">
<div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
<div class="carousel-inner" role="listbox">
{ZL.Label id="地区频道首页输出相关图片列表" NodeID="4" Area="{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}" /}
</div>
<a class="left carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left fa fa-chevron-circle-left" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right fa fa-chevron-circle-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
<div class="eara_new_mb"><a href="/Class_4/Default.aspx?d={$GetUrlencode(遵义)$}"><span>点击查看更多图片</span></a></div>
<div class="eara_new_mn">{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}</div>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 eara_new_r">
<h3>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}印象</h3>
<div class="eara_new_rt">
<!--p>建议游玩时间：<span>{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}</span></p-->
<p>{ZL:CutText({SField sid="节点栏目信息数据源" FD="Description" page="0"/},200,...)/}<a href="{ZL.Label id="城市印象关联" Title="{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}印象" /}">更多 <i class="fa fa-angle-double-right"></i></a></p>
<div class="eara_new_rbtn">
<p>主要景点：<span>{PH.Label id="自设节点内容" nodeid="@Request_id" num="1" /} </span></p>
<p>最佳旅游季节：<span>{SField sid="节点栏目信息数据源" FD="Tips" page="0"/}</span></p>
<p>特产美食：<span>{PH.Label id="自设节点内容" nodeid="@Request_id" num="2" /} </span></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container acer_banner">
<a href="http://www.toxingbaike.com/" title="贵州旅游景点大全" target="_blank"><img src="{$CssDir/}images/acerBanner2.jpg" width="1140" height="102" alt="贵州旅游景点大全"/></a>
</div>
<div class="acer_hot">
<div class="container home_theme">
  <div class="home_place_t text-center"><h3><i class="fa fa-circle"></i><span><a href="{ZL:GetNodeListUrl({SField sid="节点栏目信息数据源" FD="NodeID" page="0"/})/}">热门风景</a></span>POPULAR SCENERY<i class="fa fa-circle" style="left:auto; right:0;"></i></h3></div>
<div class="home_theme_p">
<div class="row">
{ZL.Label id="地区频道首页输出热门景点列表" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" TitleNum="30" SysNum="100" ShowNum="5" ClassName="col-lg-4 col-md-4 col-sm-4 col-xs-12" /}
</div>
</div>
</div>
</div>
<div class="container eara_miss">
<div class="eara_miss_t"><h3><i class="fa fa-circle"></i><span>不可错过</span>DON'T MISS<i class="fa fa-circle" style="left:auto; right:0;"></i></h3></div>
<div class="eara_miss_p" > 
<ul class="nav nav-tabs">
<li class="newprd-s1"><a href="/Class_5/NodeElite.aspx?d={$GetUrldecode({SField sid="节点栏目信息数据源" FD="NodeName" page="0"/})$}" target="_blank"><span class="fa-stack fa-1x"><i class="fa fa-cutlery"></i></span> {SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}美食</a></li>
<li class="newprd-s2"><a href="/Class_6/NodeElite.aspx?d={$GetUrldecode({SField sid="节点栏目信息数据源" FD="NodeName" page="0"/})$}" target="_blank"><span class="fa-stack fa-1x"><i class="fa fa-building"></i></span> {SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}特产</a></li>
</ul>
<div class="newprd-clip">
<ul class="list-unstyled">
{ZL.Label id="根据节点输出指定地区美食列表" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" ShowNum="4" TitleNum="30" SysNum="90" ClassName="col-lg-3 col-md-3 col-sm-3 com-xs-12 padding10" /}
</ul>
<ul>
{ZL.Label id="根据节点输出指定地区特产列表" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" ShowNum="4" TitleNum="30" SysNum="90" ClassName="col-lg-3 col-md-3 col-sm-3 com-xs-12 padding10" /}
</ul>		                
</div>        
</div>
<script type="text/javascript">jQuery(".eara_miss_p").slide({ titCell:".nav-tabs li",mainCell:".newprd-clip",effect:"left",easing:"easeInOutSine",delayTime:800 });</script>
</div>
<div class="view_rec">
<div class="container">
<div class="home_place_t text-center"><h3><i class="fa fa-circle"></i><span>相关景点</span>RELATED SIGHT<i class="fa fa-circle" style="left:auto; right:0;"></i></h3></div>
<div class="dest_line_list">
<div class="row">
<ul>
 {ZL.Label id="地区市级频道首页输出父节景点列表" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" /}
<div class="clearfix"></div>
</ul>


</div>
  </div>
</div><!--eara_rec end-->
{ZL.Label id="目的地列表"/}
{ZL.Label id="全站底部"/}
{ZL.Label id="通用登录弹出层"/}
</body>
</html>
<script>
$(".eara_new_l li .media-left img").each(function(index, element) {
    if($(this).attr("src")=="/UploadFiles/nopic.gif")
		$(this).parent().parent().remove();
});
$(".carousel-inner .item:first-child").addClass("active");
$().ready(function(e) {
    $(".home_theme_p .row>div:nth-child(1)").removeClass("col-lg-4 col-md-4 col-sm-4 col-xs-12").addClass("col-lg-7 col-md-7 col-sm-7 col-xs-12");
    $(".home_theme_p .row>div:nth-child(2)").removeClass("col-lg-4 col-md-4 col-sm-4 col-xs-12").addClass("col-lg-5 col-md-5 col-sm-5 col-xs-12");
});

// 百度地图API功能
var map = new BMap.Map("allmap");
var point1 = new BMap.Point(106.695325,26.339045);
var point2 = new BMap.Point(121.448594, 31.229173);
var localSearch = new BMap.LocalSearch(map);
function myFun(result){
	var cityName = result.name;
	map.setCenter(cityName);
	//alert("当前定位城市:"+cityName);
	localSearch.setSearchCompleteCallback(function (searchResult) 
	{
		var poi = searchResult.getPoi(0);
		var dist=(map.getDistance(point1, poi.point)/1000).toFixed(2);
	});
	localSearch.search(cityName);
}
var myCity = new BMap.LocalCity();
$(".home_map_dc").mouseover(function(){
	var pointArr = $(this).find(".home_map_dcu").data("point");
	var point1 = new BMap.Point(pointArr[0].mark.lng,pointArr[0].mark.lat);
	var city=$(this).find(".mycity");
	var dist=$(this).find(".mydist");
	var mytime=$(this).find(".mytime");
	var mypoint = $(this).find(".mypoint");
	var name = $(this).find(".home_map_dcu").data("name");
	myCity.get(function(result){
		city.html(result.name);
		localSearch.setSearchCompleteCallback(function (searchResult) 
		{
			var d = (map.getDistance(point1, searchResult.getPoi(0).point)/1000).toFixed(2);
			var t1=parseFloat(d/60).toFixed(2);
			var t2=((t1-parseInt(t1))*60).toFixed();
			mytime.html(parseInt(t1)+"小时"+t2+"分钟")
			dist.html(d);
			$.ajax({
					"url": "http://api.map.baidu.com/place/v2/search",
					type: "POST",
					dataType: 'jsonp',
					jsonp: 'callback',
					"data": {
						q:"加油站",
						location:pointArr[1]+","+pointArr[0],
						output:"json",
						ak:"ynCD23qRFoyWBYk0M3bF1VEk",
						page_size:"10",
						page_num:"1",
						scope:1,
						radius:map.getDistance(point1, searchResult.getPoi(0).point)
					},
					success: function(data)
					{				
						if(data.status==0)
						{
							mypoint.html(data.total)
						}
					},
					error:function(){}
			});
		});
		localSearch.search(result.name);
	})
	$(this).find(".home_map_dcj").show();
	$(this).find("i").css("color","#008ad9");
}).mouseout(function(){
	$(this).find(".home_map_dcj").hide();
	$(this).find("i").css("color","");
})
function ShowMap()
{
	$(".home_map").fadeIn("slow");
	$(".closemap").fadeIn("slow");
}
function CloseMap()
{
	$(".home_map").fadeOut("slow");
	$(".closemap").fadeOut("slow");
}
function LoginFun()
{
	var buser = new B_User();
	var model = { name: $("#UName").val(), pwd: $("#UPSD").val(), key: $("#VCode_hid").val(), code: $("#VCode").val() };
	if (model.name == "" || model.pwd == "") { alert("用户名或密码不能为空!"); return; }
	buser.Login(model,function(data){
		if (data == -1) { alert("用户名或密码错误"); }
		else if (data == -10) {
			alert("用户名或密码错误");
			EnableCode();
		}
		else if (data == -2)
		{
			alert("验证码错误");
			EnableCode();
		}
		else {
			location.href=location.href;
		}
	})
}
function EnableCode() {
	if ($(".code").is(":hidden")) {
		$(".code").show();
		$("#VCode_img").click();
		$("#VCode").ValidateCode();
	}
}
function ShowLogin()
{
	$(".home_ulogin").show();
}
function CloseLogin()
{
	$(".home_ulogin").hide();
}
function GetEnterCode(a, id) {
    if (event.keyCode == 13) {
        switch (a) { case "click": $("#" + id).trigger("click"); break; case "focus": $("#" + id).focus(); break; }
        return false;
    }
    else { return true; }
}
</script>