{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
</head>
<body>

{ZL.Label id="全站共用头部"/}
<div class="h74"></div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-generic" data-slide-to="1"></li>
<li data-target="#carousel-example-generic" data-slide-to="2"></li>
</ol>
<div class="carousel-inner" role="listbox">
<div class="item active area_bnanner">
<div class="carousel-caption">
</div>
</div>
<div class="item area_bnanner">
<div class="carousel-caption">
</div>
</div>
<div class="item area_bnanner">
<div class="carousel-caption">
</div>
</div>
</div>
<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
<div class="container eara_two">
<ol class="breadcrumb">
<li><a href="#">贵州旅游大全</a></li>
<li><a href="#">安顺</a></li>
<li class="active">安顺旅游景点</li>
</ol>
<nav class="eara_two_n" role="navigation">
<ul class="nav nav-tabs">
<li role="presentation"><a href="#">首页</a></li>
<li role="presentation"><a href="#">概况</a></li>
<li role="presentation" class="eara_two_active"><a href="#">景点</a></li>
<li role="presentation"><a href="#">画册</a></li>
<li role="presentation"><a href="#">攻略</a></li>
<li role="presentation"><a href="#">问答</a></li>
<li role="presentation"><a href="#">事件</a></li>
<li role="presentation"><a href="#">美食</a></li>
<li role="presentation"><a href="#">特产</a></li>
</ul>                                                    
</nav>
<div  class="eara_two_boxn">
<p>景点类型: <a href="#" class="boxn_ac">全部</a><a href="#">城市</a><a href="#">古镇乡村</a><a href="#">自然景观</a><a href="#">人文景观</a><a href="#">休闲度假</a><a href="#">徒步</a><a href="#">拓展</a></p>
<p>游玩时间: <a href="#">全部</a><a href="#" class="boxn_ac">2小时以内</a><a href="#">2-4小时</a><a href="#">半天-1天</a></p>
<p>适宜季节: <a href="#">全部</a><a href="#" class="boxn_ac">春季</a><a href="#">夏季</a><a href="#">秋季</a><a href="#">冬季</a><a href="#">四季皆宜</a></p>
</div>
<div class="eara_two_box">
<div class="view_list">
<div class="row">
<ul>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="view_list_c">
<a href="#"><img src="{$CssDir/}images/acerBox2.jpg" alt="..."></a>
<h3><a href="#">黄果树瀑布</a></h3>
<h4>评分：<span>9.3/10</span> 19条点评</h4>
<p>在这几个屯堡里，最喜欢的就是云山屯，房子保存的都很好也没有什么。。。</p>
<div class="view_list_s" style="display:none;">
<a href="#"><i class="fa fa-share-square-o"></i></a>
<a href="#"><i class="fa fa-star"></i></a>
</div>
</div>
</li>
</ul>
</div>
</div>
<nav class="pull-right">
<ul class="pagination">
<li>
<a href="#" aria-label="Previous">
<span aria-hidden="true">&laquo;</span>
</a>
</li>
<li class="active"><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li>
<a href="#" aria-label="Next">
<span aria-hidden="true">&raquo;</span>
</a>
</li>
</ul>
</nav>
</div>
</div>
<div class="view_rec">
<div class="container">
<h3 class="text-center"><a>热门景点</a></h3>
<div class="row">
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 view_rec_l">
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 view_rec_lu">
<div class="view_rec_lf">
<div class="view_rec_lc">
<a href="#"><img src="{$CssDir/}images/acerthree1.jpg" alt="" /></a>
<h4><a href="#">修文</a></h4>
</div>
</div>
<div class="row">
<ul>
<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="view_rec_lc">
<a href="#"><img src="{$CssDir/}images/acerthree1.jpg" alt="" /></a>
<h4><a href="#">修文</a></h4>
</div>
</li>
<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="view_rec_lc">
<a href="#"><img src="{$CssDir/}images/acerthree1.jpg" alt="" /></a>
<h4><a href="#">修文</a></h4>
</div>
</li>
</ul>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 view_rec_lr">
<ul>
<li>
<div class="view_rec_lc">
<a href="#"><img src="{$CssDir/}images/acerthree1.jpg" alt="" /></a>
<h4><a href="#">修文</a></h4>
</div>
</li>
<li>
<div class="view_rec_lc">
<a href="#"><img src="{$CssDir/}images/acerthree1.jpg" alt="" /></a>
<h4><a href="#">修文</a></h4>
</div>
</li>
<li>
<div class="view_rec_lc">
<a href="#"><img src="{$CssDir/}images/acerthree1.jpg" alt="" /></a>
<h4><a href="#">修文</a></h4>
</div>
</li>
</ul>
</div>

</div>
</div>
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 view_rec_l">
<div class="row">
<ul>
<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="view_rec_lc">
<a href="#"><img src="{$CssDir/}images/acerthree1.jpg" alt="" /></a>
<h4><a href="#">修文</a></h4>
</div>
</li>
<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="view_rec_lc">
<a href="#"><img src="{$CssDir/}images/acerthree1.jpg" alt="" /></a>
<h4><a href="#">修文</a></h4>
</div>
</li>
</ul>
</div>
<div class="view_rec_lf">
<div class="view_rec_lc">
<a href="#"><img src="{$CssDir/}images/acerthree1.jpg" alt="" /></a>
<h4><a href="#">修文</a></h4>
</div>
</div>
</div>
</div>
</div>
<div class="container view_ad"><a href="#"><img src="{$CssDir/}images/acerthree_bot.jpg" alt="" /></a></div>
</div><!--view_rec end-->


<div class="home_footer">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-x-12 home_footer_l">
<h3>中国领先的自由行服务平台</h3>
<p>覆盖全球<span>200</span>多个国家和地区<br/><span>100,000,000</span>位旅行者<br/><span>920,000</span>家国际酒店<br/><span>21,000,000</span>条真实点评<br/><span>382,000,000</span>次攻略下载</p>
</div>
<div class="col-lg-2 col-md-3 col-sm-3 col-x-12 home_footer_l">
<h3>about</h3>
<p><a href="{ZL:GetNodeLinkUrl(8)/}">关于我们</a><br/><p><a href="#">招商与合作</a><br/><a href="#">网络信息侵权通知指引</a><br/><a href="#">隐私政策</a><br/><a href="#">服务协议</a><br/></p>
</div>
<div class="col-lg-2 col-md-3 col-sm-3 col-x-12 home_footer_l">
<h3 class="text-center">旅行服务</h3>
<p class="home_footer_lp"><a href="#">旅游攻略</a><br/><a href="#">旅游特价</a><br/><a href="#">旅游问答</a><br/><a href="#">签证办理</a><br/><a href="#">旅游资讯</a><br/></p>
<p class="home_footer_lp"><a href="#">酒店预订</a><br/><a href="#">国际租车</a><br/><a href="#">旅游保险</a><br/><a href="#">签证办理</a><br/><a href="#">订火车票</a><br/></p>
</div>
<div class="col-lg-3 col-md-5 col-sm-5 col-x-12 col-md-offset-2 home_footer_r">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
<a href="#"><img src="{$CssDir/}images/weixin.jpg" alt="" /></a>
<h3><a href="#">官方微博</a></h3>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
<a href="#"><img src="{$CssDir/}images/weixin.jpg" alt="" /></a>
<h3><a href="#">官方微信</a></h3>
</div>
</div>
</div>
</div><div class="clearfix"></div>
<div class="home_footer_g">
<h4>关注我们</h4>
<p><a href="#"><span class="fa-stack fa-1x"><i class="fa fa-weibo"></i></span></a><a href="#"><span class="fa-stack fa-1x"><i class="fa fa-qq"></i></span></a><a href="#"><span class="fa-stack fa-1x"><i class="fa fa-weixin"></i></span></a></p>
</div>
<div class="home_link"><p><a href="#">马可波罗</a><a href="#">Onlylady女人志</a><a href="#">艺龙旅游指南</a><a href="#">欣欣旅游网</a><a href="#">户外运动</a><a href="#">酒店网</a><a href="#">365音乐网</a><a href="#">百酷特色住宿</a><a href="#">悠哉旅游网</a><a href="#">小说网</a><a href="#">来订吧酒店网</a><a href="#">游多多自助游</a><a href="#">机票</a><a href="#">火车时刻表</a><a href="#">驴妈妈旅游网</a><a href="#">好豆美食网</a><a href="#">二手车</a><a href="#">绿野户外</a><a href="#">途牛旅游网</a><a href="#">图吧</a><a href="#">SUV联合越野</a><a href="#">手机浏览器</a><a href="#">上海地图</a><a href="#">天气预报查询</a><a href="#">同程旅游</a><a href="#">火车票</a><a href="#">锦江旅游</a><a href="#">火车时刻表</a><a href="#">TripAdvisor</a><a href="#">天巡网</a><a href="#">自在客</a><a href="#">租租车</a><a href="#">五分旅游网</a><a href="#">酒店预订</a><a href="#">携程旅游</a><a href="#">爱旅行网</a><a href="#">旅游</a><a href="#">旅游网</a><a href="#">wed114结婚网</a><a href="#">车讯网</a><a href="#">遨游旅游网</a><a href="#">手机客运站</a><a href="#">更多友情链接>></a></p>
</div>
<div class="home_copy">
<p>&copy; 2015 www.toxingbaike.com <a href="#" rel="nofollow">黔ICP备11015476号</a>   黔公网安备110105013401号   黔ICP证110318号   新出网证(黔)字242号</p>
<p>客服电话： 400 166 6866   工作时间 10:00-18:30  <a href="#">网站地图</a><a href="#"><img src="{$CssDir/}images/foot_img1.png" alt="" /></a><a href="#"><img src="{$CssDir/}images/foot_img2.png" alt="" /></a></p>
</div>
</div>
</div>
</body>
</html>
<script>
$(".view_list_c").mouseover(function(){
	$(this).find(".view_list_s").show();
}).mouseout(function(){
	$(this).find(".view_list_s").hide();
})
</script>