{ZL.Source id="文章模型数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="文章模型数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="文章模型数据源标签" FD="Tagkey" page="0"/}" />
<meta name="Description" content="{SField sid="文章模型数据源标签" FD="Title" page="0"/}">
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<style>
.Assis_Div{position:fixed;top:60%; left:50%; margin-left:-650px; }
.Assis_Div .info {border:1px solid #ccc; color:#999; padding:10px; font-size:20px; display:block; text-decoration:none; text-align:center; width:80px;}
.gray_c{color:#ccc;}
.modal-dialog{margin:100px auto;}
</style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top food_top">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/"><img src="{$LogoUrl/}" alt="{$SiteName/}" /></a>
<!-- Single button -->
<div class="btn-group">
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
<i class="glyphicon glyphicon-align-justify"></i> 导航 <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<li><a href="{ZL:GetNodeLinkUrl(1)/}">目的地</a></li>
<li><a href="{ZL:GetNodeLinkUrl(2)/}">攻略</a></li>
<li><a href="{ZL:GetNodeLinkUrl(3)/}">事件</a></li>
<li><a href="{ZL:GetNodeLinkUrl(4)/}">画册</a></li>
<li><a href="/Ask">问答</a></li>
<li><a href="{ZL:GetNodeLinkUrl(5)/}">美食</a></li>
<li><a href="{ZL:GetNodeLinkUrl(6)/}">特产</a></li>
</ul>
</div>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<form class="navbar-form navbar-left" role="search" action="/Class_28/NodeElite.aspx" method="get" target="_blank">
<div class="form-group">
<input type="text" class="form-control" placeholder="全站检索" name="k" />
</div>
<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
</form>
<ul class="nav navbar-nav navbar-right">
<li><a href="/User/">登录</a></li>
<li><a href="/User/Register.aspx">注册</a></li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="h74"></div>
<div class="food_banner">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
<div class="item active Raiders_banner1">
<div class="carousel-caption">
<div class="container">
<div class="media">
<div class="media-left"><a href="#"><img class="media-object" src="/Template/Travel/style/images/userface.jpg" alt="..."></a></div>
<div class="media-body media-middle">
<h4 class="media-heading"><a href="#">13天的青岩古镇之旅——超美多图！！！</a></h4>
<p>2015-12-08 18:40:56</p>
</div>
</div>
</div>
</div>
</div>
<div class="item Raiders_banner1">
<div class="carousel-caption">
<div class="container">
<div class="media">
<div class="media-left"><a href="#"><img class="media-object" src="/Template/Travel/style/images/userface.jpg" alt="..."></a></div>
<div class="media-body media-middle">
<h4 class="media-heading"><a href="#">13天的青岩古镇之旅——超美多图！！！</a></h4>
<p>2015-12-08 18:40:56</p>
</div>
</div>
</div>
</div>
</div>
<div class="item Raiders_banner1">
<div class="carousel-caption">
<div class="container">
<div class="media">
<div class="media-left"><a href="#"><img class="media-object" src="/Template/Travel/style/images/userface.jpg" alt="..."></a></div>
<div class="media-body media-middle">
<h4 class="media-heading"><a href="#">13天的青岩古镇之旅——超美多图！！！</a></h4>
<p>2015-12-08 18:40:56</p>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="container">
<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"></a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"></a>
</div>
</div>
</div>

<div class="container food_bg">
<div class="food_main">
<div class="food_mysite">
<ol class="breadcrumb">
<li><a href="/">首页</a></li>
{ZL.Label id="输出多级节点导航_V3" NodeID="{SField sid="文章模型数据源标签" FD="NodeID" page="0"/}" ShowNum="30" /}
<li class="active">{SField sid="文章模型数据源标签" FD="Title" page="0"/}</li>
</ol>
</div><!--food_mysite end-->
<div class="food_nav">
<ul>
<li><a href="/">首页</a></li>
<li><a href="#">概况</a></li>
<li><a href="{ZL:GetNodeLinkUrl(1)/}">景点</a></li>
<li><a href="{ZL:GetNodeLinkUrl(4)/}">画册</a></li>
<li><a href="{ZL:GetNodeLinkUrl(2)/}">攻略</a></li>
<li><a href="/Ask">问答</a></li>
<li><a href="{ZL:GetNodeLinkUrl(3)/}">事件</a></li>
<li class="active"><a href="{ZL:GetNodeLinkUrl(5)/}">美食</a></li>
<li><a href="{ZL:GetNodeLinkUrl(6)/}">特产</a></li>
<div class="clearfix"></div>
</ul>
</div><!--food_nav end-->

<div class="food_con">
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 food_con_l">
<div class="food_con_lt">
<h1>{SField sid="文章模型数据源标签" FD="Title" page="0"/}</h1>
<p><span><i class="fa fa-clock-o"></i>发布时间：{ZL:FormatDate({SField sid="文章模型数据源标签" FD="CreateTime" page="0"/},yyyy-MM-dd HH:mm:ss)/}</span><span><i class="fa fa-user"></i>作者：{SField sid="文章模型数据源标签" FD="Inputer" page="0"/}</span><span><i class="fa fa-eye"></i>浏览次数 <SCRIPT language=javascript src="/Common/GetHits.aspx?id={SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}"></SCRIPT></span><span><i class="fa fa-comments"></i>评论数：{ZL.Label id="输出指定ID内容评论总数" GID="{SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}" /}</span></p>
</div>

<div class="food_con_lc">
{SField sid="文章模型数据源标签" FD="content" page="{SField sid="文章模型数据源标签" FD="K_pages" page="0"/}"/}
</div>
<div id="T_page">{ZL.Page id="默认内容分页标签" num="{SField sid="文章模型数据源标签" FD="pages" page="0"/}"/}</div>
<div class="food_con_lk">关键字：{SField sid="文章模型数据源标签" FD="Tagkey" page="0"/}</div>
<div class="food_con_ls">
<div class="bdsharebuttonbox pull-left"><span class="pull-left" style="margin-top:4px;">分享到：</span><a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a></div>
<div class="food_con_lsr pull-right">
<a href="#"><i class="fa fa-heart"></i> 爱看</a>
<a href="#"><i class="fa fa-times"></i> 不感兴趣</a>
<a href='/User/Content/AddToFav.aspx?itemid={SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}&Url=/Item/{SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}.aspx&type=1'><i class="fa fa-star"></i> 收藏本文</a>
</div>
<script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<div class="clearfix"></div>
</div><!--food_con_ls end-->
<div class="food_con_lv">
<div class="food_con_lvt">附近热门景点</div>
<div class="row">
<ul>
{ZL.Label id="输出附近热门景点" NodeID="1" ShowNum="8" TitleNum="20" ClassName="col-lg-3 cl-md-3 col-sm-3 col-xs-12" /}
</ul>
</div>
</div><!--food_con_lv end-->
<div class="iframe_comm">
<iframe id="comm_ifr" scrolling="no" onload="this.height = $(this).contents().height() + 'px';" src="/Comments/CommentFor.aspx?ID={SField sid="文章模型数据源标签" FD="GeneralID"/}" width="100%" align="middle" height="100%" frameborder="0"></iframe>
</div>
<div class="Assis_Div"></div>
</div><!--food_con_l end-->

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 food_con_r">

<div class="food_con_rt"><a href="#"><img src="{$CssDir/}images/ask_img.jpg" alt="" /></a></div>
<div class="food_tui">
<div class="food_tui_t">精华推荐</div>
<ul class="media-list">
{ZL.Label id="输出精华推荐列表" NodeID="2" ShowNum="5" TitleNum="60" /}
</ul>
</div><!--food_tui end-->

<div class="food_guan">
<div class="food_guan_t">相关美食</div>
<div class="row">
<ul>
{ZL.Label id="输出相关美食列表" NodeID="{SField sid="文章模型数据源标签" FD="NodeID" page="0"/}" ShowNum="4" TitleNum="20" GID="{SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}" ClassName="col-lg-6 col-md-6 col-sm-6 col-xs-12" /}
</ul>
</div>
</div>
</div><!--food_con_r end-->
</div>
</div><!--food_con end-->

<div class="food_ad"><a href="#"><img src="{$CssDir/}images/date3.jpg" alt="" /></a></div>
</div><!--food_main end-->
</div><!--food_bg end-->

{ZL.Label id="全站底部"/}
</body>
</html>
<script type="text/javascript" src="/JS/Controls/ZL_Dialog.js"></script>
<script>
function initCommInfo(div)
{
	$(".Assis_Div").html("");
	$(".Assis_Div").html(div);
}
function ContentAssist(flag)
{
	$("#comm_ifr")[0].contentWindow.ContentAssist(flag);
}
//弹出登录框
var loginDiag = new ZL_Dialog();
function checkLogin()
{
	loginDiag.title = "用户登录";
	loginDiag.url = "/login_Ajax.aspx";
	loginDiag.ShowModal();
}
function LoginSuccess()
{
	window.location=location;
}
</script>